canvas{
    
        background-image: url(https://64.media.tumblr.com/dcc7d9ac6d7e7010b0cb2652f768994a/66eac0d4fb516898-f5/s500x750/0703afd18da0d17cb3b1060d9883ed4b1507bc7e.gifv);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 2000px 1000px;
}