
body {
  background: url(https://i.pinimg.com/originals/50/1d/49/501d49dc37935dc5c1fa42a676f785de.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}


  .container {
  width: 100%;
  height: 100%;
  display: flex; /* might changr back to flexbox/flex*/
  align-items: center; 
  justify-content: center;
}  
#line {
  position: absolute;
  border-left: 10px solid rgb(255, 255, 255);
  height: 50px;
  top: 0px;
  left: 210px;
  border-radius: 20px; 
}
#line2 {
  position: absolute;
  border-left: 10px solid rgb(255, 255, 255);
  height: 50px;
  top: 80px;
  left: 210px;
  border-radius: 20px; 
}
#line3 {
  position: absolute;
  border-left: 10px solid rgb(255, 255, 255);
  height: 50px;
  top: 160px;
  left: 210px;
  border-radius: 20px; 
}
#line4 {
  position: absolute;
  border-left: 10px solid rgb(255, 255, 255);
  height: 50px;
  top: 240px;
  left: 210px;
  border-radius: 20px; 
}
#line5 {
  position: absolute;
  border-left: 10px solid rgb(255, 255, 255);
  height: 50px;
  top: 320px;
  left: 210px;
  border-radius: 20px; 
}
#line6 {
  position: absolute;
  border-left: 10px solid rgb(255, 255, 255);
  height: 50px;
  top: 407px;
  left: 210px;
  border-radius: 20px; 
}
/*FIX*/
#playerOneScoreBoard {
  width: 80px;
  height: 80px;
  border: 2px solid rgb(0, 0, 0); 
  background-color: rgb(247, 240, 255);
  position: fixed;
  top: 390px;
  left: 228px;
  text-align: center;
  font-family: cursive; 
  font-size: x-large;
}
#playerTwoScoreBoard{
  width: 80px;
  height: 80px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(176, 127, 255);
  position: fixed;
  left: 1136px;
  top: 400px; 
  text-align: center;
  font-size: x-large;
  font-family: fantasy;
}

#leftPaddle{
  width: 20px;
  height: 80px;
  background: url(https://i.gifer.com/4dZN.gif);
  border-radius: 20px;
  position: absolute;
}
#rightPaddle{
  width: 20px;
  height: 80px;
  background: url(https://media.tenor.com/utJVz8hr1lkAAAAC/rainbow-colorful.gif);
  border-radius: 20px;
  position: absolute;
  left: 407px;
  top: 0px;
} 

#board {
  width: 430px;
  height: 460px;
  border: 1px solid white;
  position: relative; /* might change back to relative and uncomment stuff */
  box-sizing: border-box;
  /*left: 450px; /*might delete left and top values*/
 top: 80px;
}
 
#ball {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(223, 189, 255);
  
  /* positioning*/
  position: absolute;
  top: 100px;
  left: 100px;
}

/* #gameItem {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute; */
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
/* } */
