#fullContainer {
    width:100%;
}
#buttonContainer {
    margin:auto;
    width: 40%;
}
#goButton {
    margin: auto;
    width: 100%;
    border: 2px darkgray double;
    background: lightgray;
    font-size: 30px;
}
#sortContainer {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.subContainer {
    display: inline-block;
    width:45%;
    border: 4px forestgreen groove;
    margin-top: 1.25%;
}
#bubbleArea {
    margin-left: 2.5%;
}
#quickArea {
    margin-left: 3.75%;
}
.subContainer > h2 {
    margin-left: 5%;
    height: 32px;
    margin-top: 0;
}
.sortElement {
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}
.subContainer > div {
    position: relative;
}
.bubbleElement {
    background: url('https://miro.medium.com/v2/resize:fit:720/format:webp/1*c-V5vPVeWLPsouWBJc6gxA.png');
    /*border: 2px aqua ridge;*/
}
.quickElement {
    background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6904009b-4c13-42ec-82f8-35464ab6a2fb/d5f6jo6-dc16a07e-17ee-4bd3-b126-ef60ef154cf8.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY5MDQwMDliLTRjMTMtNDJlYy04MmY4LTM1NDY0YWI2YTJmYlwvZDVmNmpvNi1kYzE2YTA3ZS0xN2VlLTRiZDMtYjEyNi1lZjYwZWYxNTRjZjgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ba9d4y5TJh0lzAQ8I0UarZmUltYTkJx0u4jtOoAOI9E');
    /*border: 2px luna-p;*/
}

/*'img/quick.png'