body {
    margin: 0;
    background: url(https://img.freepik.com/free-vector/pride-gradient-1_78370-282.jpg?w=996&t=st=1706660768~exp=1706661368~hmac=7b7b6fa2cdf84604813b48703d1d4e8874b0ed4568999af4993dea741d7d7583);
background-repeat: no-repeat;
background-size: cover;
}